body {
    font-family: arial sans-serif;
    font-size: 13px;
    margin: 0;
}

button {
    background-color: #4d90fe;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

header {
    min-height: 40px;
    margin-bottom: 110px;
    margin-top: 20px;
    padding-right: 20px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

nav li {
    display: inline;
    padding-left: 10px;
}

nav li img {
    width: 15px;
    height: 15px;
}

main {
    clear: both;
    padding: auto;
    margin-top: 40px;
}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height:115px;
}

main input {
    margin-top: 30px;
    width: 40%;
    min-height: 30px;
    border-radius: 45px;
    margin-bottom: 25px;
}

main button {
    width: 120px;
    height: 30px;
    display: block;
    margin-bottom: 20px;
}

.left {
    float: left;
    margin-left: 39%;
    text-align: center;
    background-color: #f2f2f2;
    color: black;
}

.right {
    float: right;
    margin-right: 39%;
    text-align: center;
    background-color: #f2f2f2;
    color: black;
}

main ul {
    clear: both;
    list-style-type: none;
}

main ul li {
    display: inline;
    padding-left: 5px;
}

.footer {
    margin-top: 75px;
    background-color: #f2f2f2;
    padding-left: 20px;
    padding-right: 20px; 
    overflow: hidden;
}

.footer ul {
    list-style-type: none;
    padding-left: 0;
    
}

.footer ul li {
    display: inline;
}

.country {
    padding-top: 2px;
}

.footer-links-left {
    float: left;
}

.footer-links-left li {
    padding-right: 5px;
}

.footer-links-right {
    float: right;
}

.footer-links-right li {
    padding-left: 5px;
}